body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 25%;
    background-color: #f4f4f4;
    padding: 10px;
    border-right: 1px solid #ccc;
}

.sidebar h2 {
    margin-top: 0;
    font-size: 24px;
}

.contact {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.contact img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.contact-info {
    font-size: 16px;
}

.chat-window {
    width: 75%;
    padding: 20px;
    overflow-y: auto;
}

.chat {
    display: none;
}

#marc:target,
#elon:target,
#sundar:target {
    display: block;
}

h2 {
    margin-top: 0;
}

.message-container {
    display: flex;
    margin: 10px 0;
}

.left-container {
    justify-content: flex-start;
    flex-direction: column; 
    align-items: flex-start;
    display: flex;
    gap: 5px;
}

.right-container {
    justify-content: flex-end;
    display: flex;
    align-items: flex-end;
}

.message {
    max-width: 70%;
    padding: 8px 12px;
    border-radius: 10px;
    word-wrap: break-word;
}

.left {
    background-color: #d1ecf1; 
    color: #056162;
    border-radius: 10px 10px 10px 0;
    text-align: left;
    display: block;
}

.right {
    background-color: #d4edda; 
    color: #155724;
    border-radius: 10px 10px 0 10px;
    text-align: right;
}
